@font-face {
   font-family: 'Agenda One Semi Bold-GFXTRA.COM';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-30_184652/fonts/Agenda%20One%20Semi%20Bold-GFXTRA.COM/font.ttf');
}
