@font-face {
   font-family: 'Agenda One Semi Bold-GFXTRA.COM';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/OneDrive/%C3%81rea%20de%20Trabalho/Rios/01%20Site%20Rios%20Eventos/fonts/Agenda%20One%20Semi%20Bold-GFXTRA.COM/font.ttf');
}
