@font-face {
   font-family: 'Genos-Medium';
   font-display: swap;
   src: url('Genos-Medium/font.ttf');
}
@font-face {
   font-family: 'Agenda One Semi Bold-GFXTRA.COM';
   font-display: swap;
   src: url('Agenda One Semi Bold-GFXTRA.COM/font.ttf');
}
