@font-face {
   font-family: 'Genos-Medium';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/OneDrive/%C3%81rea%20de%20Trabalho/Rios/00%20Site%20Rios%20Eventos/fonts/Genos-Medium/font.ttf');
}
