@font-face {
   font-family: 'Genos-Medium';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-30_184652/fonts/Genos-Medium/font.ttf');
}
